.object{
    width: 100px;
    height: 70px;
    background-color: #727272;
    color: white;
    outline: hidden;
    width: 150px;
    color: white;
    border: outset;
    font-family: "Times New Roman";
    font-size: 25px;
    outline-color: #ff00ea;
    border-color: #39c0ff;
    border-radius: 10px;
    border-width: 10px;
    text-align: center;
}