.object{
    
    
    
    
    
    width: 96px;
    height: 40px;
    background-color: #56ff3c;
    outline: dotted;
    border-radius: 25px;
    outline-color: #4e66ff;
    border: solid;
    border-color: #844bff;
    color: #ff528f;
    font-family: "Trebuchet MS";
    font-size: 13px;
    outline-width: 10px;
    border-width: 10px;
}